<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Stories </br> & </br> articles</h2>
        </header>
        <p>By Liam, <br /> a mysterious and
        <br />
	 imaginative author.
        <br />
        Brought to you by <br /> <b>Poppy Publishing.</b></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Read More</a></li>
            </ul>
        </footer>

    </div>

</section>
